{% extends "AdminBundle:Base:layout.html.twig" %}
{% form_theme edit_form 'AdminBundle:Form:fields.html.twig' %}

{% block section %}course{% endblock %}

{% block content %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{ "edit.singular" | trans }} {{ entity.name }}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_default_index') }}"> <i class="ion-home"></i>  {{ "home" | trans }}</a></li>
        <li><a href="javascript:">{{ "elearning" | trans }}</a></li>
        <li><a href="{{ path('elearning_course_index') }}">{{ "course.plural" | trans }}</a></li>
        <li><a href="{{ path('elearning_course_show', { id: entity.id }) }}">{{ entity.name }}</a></li>
        <li><a href="{{ path('elearning_course_edit', { id: entity.id }) }}">{{ "edit.singular" | trans }} </a></li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-info">
            {{ include('ElearningBundle:Course:_form.html.twig', { form: edit_form }) }}
          </div>
        </div>       
      </div>
    </section>

{% endblock %}
    
{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            $('#elearning_course_site').select2({
                placeholder: "",
                allowClear: true
            });
        });
    </script>
{% endblock %}